/*#content {
	clear: left;
}*/

#content>.box {
	clear: left;
	border: 1px solid;
	width: 500px;
	padding: 10px;
	margin-bottom: 2em;
}

.box>h1 {
	width: 380;	
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	margin-bottom: .2em;
	font-weight: bold;
}

.box>p.ref {
	font-size: .8em;
}